<launch>
  <rosparam command="load" file="../example/stimulus_parameters.yaml" />

  <node name="stimulus_loader" pkg="choice" type="odor_randomizer_choice.py" output="screen" required="true" />
  
  <node name="arduino_interface" pkg="rosserial_python" type="serial_node.py" output="screen">
    <!-- TODO figure out how to autodetect and use hw id -->
    <param name="port" value="/dev/ttyACM0" />
    
    <!-- reduce baud a little if there are problems
    <param name="baud" value="115200" />
    -->

    <!-- can i check for advertised services here? -->
    <rosparam>
      require:
        publishers: []
        subscribers: []
        services: ['load_defaults', 'load_seq']
    </rosparam>
  </node>
</launch>
