<launch>
  <rosparam command="load" file="$(find choice)/example/stimulus_parameters.yaml" />

  <node name="stimulus_loader" pkg="choice" type="odor_randomizer_choice.py" output="screen" required="true" />
  
  <node name="arduino_interface" pkg="rosserial_python" type="serial_node.py" output="screen">
    <!-- TODO figure out how to autodetect and use hw id -->
    <param name="port" value="/dev/ttyACM0" />
    
    <param name="baud" value="9600" />

    <!-- TODO test it fails / how if not advertised -->
    <rosparam>
      require:
        publishers: []
        subscribers: []
        services: ['load_defaults', 'load_seq']
    </rosparam>
  </node>
</launch>
