<launch>
  <!-- TODO put most stimuli stuff in own launch file, include that in choice launch, and put
   versionpub stuff there -->
  <rosparam command="load" file="$(find choice)/example/stimulus_parameters.yaml" />

  <node name="versionpub" pkg="versionpub" type="versionpub.py">
    <!-- TODO how to do private parameters correctly? does this work for lists? -->
    <rosparam>
      package_names: ['versionpub', 'stimuli', 'choice', 'multi_tracker', 'rosserial_arduino']
    </rosparam>
  </node>

  <node name="stimulus_loader" pkg="choice" type="odor_randomizer_choice.py" output="screen" required="true" />
  
  <node name="arduino_interface" pkg="rosserial_python" type="serial_node.py" output="screen">
    <!-- TODO figure out how to autodetect and use hw id -->
    <param name="port" value="/dev/ttyACM0" />
    
    <param name="baud" value="9600" />

    <!-- TODO test it fails / how if not advertised -->
    <rosparam>
      require:
        publishers: []
        subscribers: []
        services: ['load_defaults', 'load_seq']
    </rosparam>
  </node>
</launch>
